<div class='container mt-5'>
  <div class="d-flex justify-content-center row">
    <div class="col-md-6">
      <div class="p-3 bg-white text-center">
        <div>
          Your are Following
        </div>
        <% followeds.each do |followeds| %>
          <div class="d-flex flex-row justify-content-between align-items-center">
            <div class="d-flex flex-row align-items-center">
              <%= render 'shared/profile_picture', profile_picture: followeds.user.profile_picture%>
              <div class="d-flex flex-column align-items-start ml-2">
                <span class="font-weight-bold"><%= link_to followeds.user.user_name, user_path(followeds.user.id), class:'profile-path'%>
                </span>
              </div>
            </div>
            <div class="d-flex flex-row align-items-center mt-2">
              <%= form_tag(unfollow_user_path(followeds.user.id), method: :post, remote: true) do %>
                <%= hidden_field_tag :user_id, followeds.user.id %>
                <%= submit_tag "UnFollow", class: "btn btn-info"%>
              <%end%>
            </div>
          </div>
        <%end%>
      </div>
    </div>
  </div>
</div>
