<%@follower_suggestions = User.where.not(id: current_user.followeds.map{ |f| f['user_id'] } << current_user.id)%>
<% @follower_suggestions.each do |user| %>
  <div class='recommended-follower'>
    <div class='row'>
      <div class='col-sm-3 col-lg-2'>
        <% if user.profile_picture.attached? %>
            <%= image_tag user.profile_picture, class: 'profile-pic' %>
        <% else %>
          <%= image_tag 'default_dp.jpg', class: 'profile-pic'%>
        <%end%>
      </div>
      <div class='col-sm-9 col-lg-10'>
        <%= link_to user.user_name, user_path(current_user.id), class:'profile-path'%>

        <div class='float-end'>
          <% if current_user.id != user.id%>
            <% if ((current_user.followeds.find_by user_id: user.id).eql? nil)%>
              <%= form_tag(follow_user_path(user.id), method: :post, id: 'follow_form', remote: true) do %>
                <%= hidden_field_tag :user_id, user.id %>
                <%= submit_tag "Follow", class: "btn btn-info"%>
              <%end%>
            <% else %>
              <% if current_user.followeds.find_by user_id: user.id %>
                <%= form_tag(unfollow_user_path(user.id), method: :post, remote: true) do %>
                  <%= hidden_field_tag :user_id, user.id %>
                  <%= submit_tag "UnFollow", class: "btn btn-info"%>
                <%end%>
              <%end%>
            <%end%>
          <%end%>
        </div>
      </div>
    </div>
  </div>
<%end%>
