<div class='navigation'>
  <div class='logo'>
    <%= link_to authenticated_root_path do%>
      <h3 class='text-muted'>Instagram Clone</h3>
    <% end %>
  </div>
  <div class='navigation-search-container'>
    <%= form_tag users_path, method: :get, class: "form-inline my-2 my-lg-0 ml-md-auto", id: "users-search", remote: true do %>
      <%= text_field_tag :term, params[:term], class: "form-control mr-sm-2 text-center common-btn", placeholder: "Search", autocomplete: "off" %>
      <div id="users-result"></div>
    <% end %>
  </div>
  <div class='navigation-icons'>
    <div class='navigation-link'>
      <%= link_to 'New Post', new_post_path %>
    </div>
    <div class='navigation-link' style='margin-left: 10px;'>
      <%= link_to 'Add Story', new_story_path %>
    </div>
    <div class='navigation-link' style='margin-left: 10px;'>
      <%= link_to 'Sign out', destroy_user_session_path, method: :delete %>
    </div>
  </div>
</div>
