<small><%= link_to 'See all', stories_path, class:'top-margin'%></small>
<div class='stories-block'>
  <% @users.each do |user| %>
    <div class='col-md-1'>
    <%= link_to story_path(user.id) do %>
      <% if user.profile_picture.attached? %>
        <%= image_tag user.profile_picture, class: 'profile-pic' %>
      <% else %>
        <%= image_tag 'default_dp.jpg', class: 'profile-pic'%>
      <%end%>
    <%end%>
      <%= link_to user.user_name, story_path(user.id), class:'profile-path'%>
    </div>
  <%end%>
</div>
