<div class='page-header'>
  <small class='m-1'><%= post.comments.count %> comments</small>
</div>
<div class='comments-list'>
  <% post.comments.each do |comment|%>
    <div class='comments-field'>
      <div class='d-flex justify-content-start'>
        <h5 class='font-weight-bold mt-2'><%= comment.user.user_name%></h5>
      </div>
      <%= comment.content %>
      <% if policy(comment).update?%>
        <div class='pull-right'>
          <%= link_to edit_comment_path(comment), class: 'm-2' do%>
            <%= fa_icon 'edit muted'%>
          <%end%>
          <%= link_to comment_path(comment), remote: true, method: :delete, data: { confirm: 'Are you sure?' } do %>
            <%= fa_icon 'trash muted'%>
          <%end%>
        </div>

      <% end %>
    </div>
  <% end %>
</div>
