<div class="container">
  <%= form_with model: @post, local: true do |form|%>
    <% if @post.errors.any? %>
      <h2>
        <%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:
      </h2>
        <ul>
          <% @post.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <%end%>
    <div>
      <%= form.label :description %><br>
      <%= form.text_field :description %>
    </div>

    <div class="field">
      <%= form.label :images%>
      <%= form.file_field :images, multiple: true%>
    </div>
    <%= (0...@post.images.count).each do |image|%>
      <div class='img-thumbnail'>
        <%= image_tag(@post.images[image])%>

          <%= form_with url: delete_image_attachment_post_path(@post.images[image].id), method: :delete do |form| %>
            <%= form.hidden_field :image_id, value: @post.images[image].id%>
            <%= form.hidden_field :post_id, value: @post.id%>
            <%= form.submit "Remove"%>
          <%end%>
      </div>
    <%end%>
    <p>
      <%= form.submit %>
    </p>
  <% end%>
</div>
