<div class="container">
  <div class="row">
    <div class="col-md-8 mt-5">
      <%= render 'shared/flashmessage' %>
      <%= render 'shared/stories' %><br />
      <%= render 'shared/show_all_posts', posts: @posts%>
    </div>
    <div class="col-md-4">
      <div class='account-summary'>
        <%= render 'shared/profile_picture', profile_picture: current_user.profile_picture%>
        <%= link_to current_user.user_name, user_path(current_user.id), class:'profile-path'%>
      </div>
      <div id='follower-suggestions' class='follower-suggestions' >
        <p class='text-muted'>Suggestionsfor you</p>
        <%= render 'shared/followers_suggestion' %>
      </div>
      <div id='follows-requests' class='follower-suggestions'>
        <p class='text-muted'>Follow requests</p>
        <%= render 'shared/follow_requests'%>
      </div>
    </div>
  </div>
</div>
