<%= form_with model: @post, local: true do |form|%>
  <% if @post.errors.any? %>
    <h2>
        <%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:
      </h2>
      <ul>
        <% @post.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <%end%>
  <div>
    <%= form.label :description %><br>
    <%= form.text_field :description %>
  </div>

  <div class="field">
    <%= form.label :images%>
    <%= form.file_field :images, multiple: true%>
  </div>

  <p>
    <%= form.submit %>
  </p>
  <%= form_with url: delete_image_attachment_post_path(image.id), method: :delete do |f| %>
      <%= f.hidden_field :image_id, value: image.id%>
      <%= f.hidden_field :post_id, value: @post.id%>
      <%= f.submit "Remove"%>
    <%end%>
<% end%>
