<div class='container mt-5'>
  <div class='d-flex justify-content-start m-2'>
    <%= render 'shared/profile_picture', profile_picture: @post.user.profile_picture%>
    <p><%= @post.user.user_name%></p><br/>
  </div>
  <% if policy(@post).update? && policy(@post).destroy?%>
    <%= link_to edit_post_path(@post.id), class: 'p-2' do %>
      <%= fa_icon 'edit 2x muted'%>
    <%end%>
    <%= link_to  post_path(@post.id), class: 'p-2', method: :delete, data: { confirm: 'Are you sure?' } do %>
      <%= fa_icon 'trash 2x muted'%>
    <%end%>
  <%end%>
  <p><%= @post.description%></p>

  <div id='carouselExampleSlidesOnly' class='carousel slide' data-bs-ride='carousel'>
    <div class='carousel-inner'>
      <% @post.images.each_with_index do |image, i|%>
        <div class='carousel-item <%= 'active ' if i == 0 %> '>
          <div class='imageContainer'>
            <%= image_tag(image, class: 'd-block w-100')%>
          </div>
        </div>
        <%end%>
    </div>
    <button class='carousel-control-prev' type='button' data-bs-target='#carouselExampleControls' data-bs-slide='prev'>
      <span class='carousel-control-prev-icon' aria-hidden='true'></span>
      <span class='visually-hidden'>Previous</span>
    </button>
    <button class='carousel-control-next' type='button' data-bs-target='#carouselExampleControls' data-bs-slide='next'>
      <span class='carousel-control-next-icon' aria-hidden='true'></span>
      <span class='visually-hidden'>Next</span>
    </button>
  </div>
  <div id='like-or-unlike-<%= @post.id.to_s %>'>
    <%= render 'likes/post_likes', post: @post%>
  </div>
  <div id="comment-form-post-<%= @post.id.to_s %>" class='comment-form'>
    <%= render 'comments/comment_form', post: @post%>
  </div>
  <div id="comment-post-<%= @post.id.to_s %>" class='comments'>
    <%= render 'posts/show_comments', post: @post %>
  </div>
</div>
